:root {
  background-color: #242424;
}

#app {
  height: 100vh;
}
.bgDay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url( './assets/backgroundDay.jpg') no-repeat center center;
  background-size: cover;
  background-color: #242424;
}